<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Share your happy thoughts">
        <meta name="keywords" content="happy, thoughts">
        <meta name="author" content="Kelly Xu, Humad Syed">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>
        <link href="/styles/style.css" rel="stylesheet"/>

    <style>
        div.container {
        width: 100%;
        background-color: #99D2F8;

        }

        header{
        width: 100%;
        padding: 1em;
        font-family: "Comic Sans MS", cursive, sans-serif;
        color: white;
        clear: left;
        text-align: center;
        position: relative;
display:inline-block;
overflow:hidden;
white-space:nowrap;
animation: showup 20s;
        }

@keyframes showup {
0% {opacity:0;}
20% {opacity:1;}
80% {opacity:1;}
100% {opacity:0;}
}

@keyframes reveal {
0% {opacity:0;width:0px;}
20% {opacity:1;width:0px;}
30% {width:355px;}
80% {opacity:1;}
100% {opacity:0;width:355px;}
}
    </style>

    </head>

    <body>
        <div class="container">
        <header>
            <div class = "title"><h1 style="font-size:70px;"> Happy Thoughts</h1></div>
            <p style="font-size:40px;">Grow the field with a happy thought...</p>
        </header>
        </div>
        <img src="field.png" alt="there should be a pic :P" style="max-width:100%;height:auto;">
    </body>
</html>
